<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <httpErrors errorMode="Detailed" existingResponse="PassThrough" />

    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>

    <httpPlatform processPath="C:\Program Files\nodejs\node.exe"
                  arguments="C:\App\WT1\wt1\CareONE_Journey_Backend\app.js"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\node-stdout"
                  startupTimeLimit="60">
      <environmentVariables>
        <environmentVariable name="NODE_ENV" value="production" />
      </environmentVariables>
    </httpPlatform>

    <rewrite>
      <rules>
        <rule name="AllRequestsToNode" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="{R:0}" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>
